---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
const recipes = await getCollection('recipes');
---

<BaseLayout>
  <main>
    <h1>Alle Rezepte</h1>
    <ul>
      {recipes.map(recipe => (
        <li>
          <a href={`./${recipe.id}`}>{recipe.data?.title}</a>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
