---
const title = Astro.props.title || "Andreas' Kochrezepte";
const description = Astro.props.description || "Meine persönliche Sammlung von Rezepten";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<meta name="keywords" content="Rezepte, Kochen, Backen, Kochrezepte, Vegetarisch, Desserts" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
		font-weight: normal;
	}

	body {
		max-width: 500px;
		margin-inline: auto;
		margin-block: 0;
	}
</style>
