---
const title = Astro.props.title || "Andreas' Kochrezepte";
const description = Astro.props.description || "Meine persönliche Sammlung von Rezepten";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<meta name="keywords" content="Rezepte, Kochen, Backen, Kochrezepte, Vegetarisch, Desserts" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
		font-weight: normal;

		/* Animation */
		--animation-speed: 0.1s;
		--animation-easing: ease;

		/* Border radius */
		--border-radius: 0.5rem;

		/* Colors */
		--color-background: whitesmoke;
		--color-highlight: lightgreen;
		--color-highlight-soft: hsl(93, 76%, 85%);
		--color-shadow: rgba(0, 0, 0, 0.15);
	}

	body {
		margin: 0;
	}

	@view-transition {
		navigation: auto;
	}
</style>
